<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/master.css">
    <title>BoolFlix</title>
  </head>
  <body>
    <div id="root">
      <header>
        <div class="header-left">
          <h1>boolflix</h1>
        </div>
        <div class="header-right">
          <div class="icon">
              <i class="fas fa-search"></i>
          </div>
            <div class="input">
              <input type="text" name="searchbar" placeholder="Titoli, persone, generi"
              v-model="searchInput"
              @keyup.enter="search">
            </div>
          <!-- <button type="button"
          name="button"
          @keyup="search"
          >Ricerca film o serie tv</button> -->
        </div>
      </header>

      <main>
        <div class="container">
          <div class="flip-card"
           v-if="searchResult.length"
           v-for="movie in searchResult"
            >
            <div class="flip-card-inner">

              <div class="flip-card-front" v-if="movie.poster_path == null" style="background-image: url('./assets/img/notavailable.jpg')"></div>

              <div class="flip-card-front" v-else-if="movie.poster_path" :style="`background-image: url('https://image.tmdb.org/t/p/w185${movie.poster_path}')`">
              </div>

              <div class="flip-card-back">
                <div class="text">
                  <p class="title">Titolo: {{ getTitle(movie)}}</p>
                  <p class="original-title">Titolo originale: {{ getOriginalTitle(movie) }}</p>
                  <div class="language">
                    <span>Language:</span>
                    <img v-if="availableFlag.includes(movie.original_language)" :src="'./assets/img/' + movie.original_language + '.png'" alt="">
                    <span v-else>{{movie.original_language}}</span>

                  </div>
                  <p class="vote-average">Voto: {{ voteTransform(movie.vote_average)}}
                  <i class="fas fa-star" v-for="star in voteTransform(movie.vote_average)"></i>
                  <i class="far fa-star" v-for="star in 5 - voteTransform(movie.vote_average)"></i>
                </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./assets/js/main.js" charset="utf-8"></script>
  </body>
</html>
