*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Hind Siliguri', sans-serif;
}

#root{
  height: 100vh;
  background-color: #000;
  position: relative;
}

header{
  font-family: 'Bebas Neue', cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 130px;
  padding-bottom: 20px;
}

header .header-left>h1{
  color: #E50914;
  text-transform: uppercase;
  font-size: 3em;
}

header .header-right{
  display: flex;
  align-items: center;
}

header .header-right i{
  padding-right: 10px;
  color: #fff;
  font-size: 1.8em;
}

header .header-right input{
  background-color: #000;
  color: rgba(255, 255, 255, 0.6);
  padding: 4px 10px;
  outline: 0;
  border: none;
  border-bottom: 1px solid #fff;
  margin-right: 10px;
  font-size: 1.1em;
}

header .header-right input:focus{
  border: 1px solid #fff;
}

header .header-right button{
  background-color: #000;
  color: #fff;
  border: none;
}

main .contents{
  padding: 20px 110px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #000;
}

.flip-card{
  width: calc(1200px / 4 - 16px);
  height: calc((1200px / 4 - 16px) * 1.45);
  cursor: pointer;
  border: 1px solid #fff;
  margin: 15px;
}

.flip-card .flip-card-front{
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-position: center;
}

.flip-card .flip-card-back{
  opacity: 0;
  transition: opacity 0.4s linear;
  background-color: #000;
  color: #fff;
  font-size: 1em;
}

.flip-card:hover .flip-card-back{
  opacity: 1;
}

.flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back .text {
  padding: 20px;
}

.flip-card-back .text .title{
  padding-top: 20px;
  color: #E50914;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.flip-card-back .text .subtitle{
  padding-top: 40px;
}

.flip-card-back .text .subtitle .vote-average i{
  color: #FFC300;
}

.flip-card-back .text .language img{
  height: 14px;
}

/* PERSONALIZZAZIONE SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  height: 15px;
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E50914;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A0060E;
}
/* PERSONALIZZAZIONE SCROLLBAR */
